/*---------------------------------------------------------------------------Main Styling*/

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #F0F7F4;
}

hr {
    width: 80px;
    color: #F0F7F4;
}


.sub-header-hr {
    width: 65px;
    height: 3px;
    background-color: #F0F7F4;
    margin-bottom: 20px;
}

.social-link-border {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    vertical-align: middle;
}

ul {
    display: inline;
}

a {
    cursor: pointer
}


/*---------------------------------------------------------------------------/.Main Styling*/

/*---------------------------------------------------------------------------Parralax Styling*/

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(../images/monkees.jpg);
    min-height: 100%;

}

.pimg2 {
    background-image: url(../images/monkees-bw-bg.jpg);
    min-height: 30vh;

}

.pimg3 {
    background-image: url(../images/monkees-bw-bg2.jpg);
    min-height: 30vh;

}

.pimg4 {
    background-image: url(../images/monkees-bw-bg3.jpg);
    min-height: 30vh;

}

/*---------------------------------------------------------------------------/.Parralax Styling*/

/*---------------------------------------------------------------------------Text*/

.section-header-container {
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
}

/*---------------------------------------------------------------------------/.Text*/

/*---------------------------------------------------------------------------Special Paddings/Margins*/

h2 {
    padding-top: 30px;
}


/*---------------------------------------------------------------------------/.Special Paddings/Margins*/

/*---------------------------------------------------------------------------Special Colours/Textures*/

.transparent-bg-section {
    background-image: url("../images/diagonal-striped-brick.png");
}

/*---------------------------------------------------------------------------/.Special Colours/Textures*/

/*---------------------------------------------------------------------------Header*/

/*---------------------------------------------------------------------------/.header*/

/*---------------------------------------------------------------------------Music Section*/

.music-container {
    background-color: #7BDFF2;
    border-top: 5px solid #F0F7F4;
    border-bottom: 5px solid #F0F7F4;

}

.song-card {

    background-color: #F0F7F4;
    color: #8F8F8F;
    margin-bottom: 30px;
    box-shadow: 5px 2px 0.2em;
    justify-content: center;
    padding: 0;
    width: 300px;
    height: auto;
    border-radius: 25px;
}



.song-card img {
    height: 100px;
    width: 100px;
    padding: 10px;
    

}


audio {
    vertical-align: middle
}


video {
    /*padding-bottom: 80px;*/
    position: relative;
    transform: translateY(-10%);
    /*margin-bottom: 30px;*/
}

/*---------------------------------------------------------------------------/.Music Section*/

/*---------------------------------------------------------------------------Members*/

.members-container {
    background-color: #A2E3C4;
    border-top: 5px solid #F0F7F4;
    border-bottom: 5px solid #F0F7F4;
}

.bio-card {

    width: auto;
    background-color: #F0F7F4;
    color: #8F8F8F;
    box-shadow: 5px 2px 0.2em;
    /*transform: translateX(50%);*/
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}

.bio-card .card-body {
    height: 200px;
}


.bio-card img {
    width: 18em;
    height: 15em;
    border-radius: 25px 25px 0 0;
}


/*---------------------------------------------------------------------------/.Members*/

/*---------------------------------------------------------------------------News*/

.news-container {
    background-color: #F9A03F;
    border-top: 5px solid #F0F7F4;
    border-bottom: 5px solid #F0F7F4;
}

.news-story-container {
    background-color: #F0F7F4;
    color: #8F8F8F;
    width: 100%;
    position: relative;
    margin: 30px 0 30px 0;
    box-shadow: 5px 2px 0.2em;
    border-radius: 25px;
    padding: 0 0 0 0;
    display: inline-block;
}

.news-story-container h3  {
    padding: 15px;
    
}

.news-story-container p {
    padding: 15px;
}

.news-story-image img {
   height: 100%;
   width: 100%;
   position: absolute;
   border-radius: 25px 0px 0px 25px;
   padding-left: 0;
}



/*---------------------------------------------------------------------------/.News*/

/*---------------------------------------------------------------------------Live*/

.live-container {
    background-color: #726E97;
    border-top: 5px solid #F0F7F4;
    border-bottom: 5px solid #F0F7F4;
}

.table-container tr {
    color: #F0F7F4;
    transform: scaleY(50%);
}

.contact-card {
    background-color: #F0F7F4;
    color: #8F8F8F;
    margin-bottom: 30px;
    box-shadow: 5px 2px 0.2em;
    border-radius: 25px;
}

.contact-card p {
    margin-top: 15px;
}

.contact-card button {
    margin-bottom: 15px;
}

/*---------------------------------------------------------------------------/.Live*/

/*---------------------------------------------------------------------------Footer*/
.footer {
    padding: 30px 0;
    display: inline
}

.footer ul {
    display: inline;
    margin: 0 10px 0 10px;
}


/*---------------------------------------------------------------------------/.Footer*/
